<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
	<title>POST FORM SIGNUP</title>
</head>
<body>

<h1 style="text-align: center;">Student Registration Form</h1>
        <form name="details" method = 'POST', action='http://localhost:5000/signup'>
            <p>Email</p> <input type="text" size="40" name="email"/><br>
            <p>Phone</p> <input type="text" size="40" name="phone"/><br>
            <p>Password</p> <input type="text" size="40" name="password"/><br>
            <p>Fname</p> <input type="text" size="40" name="fname"/><br>
            <p>Mame</p> <input type="text" size="40" name="mname"/><br>
            <p>Lame</p> <input type="text" size="40" name="lname"/><br>
            </p>
            <br><input type="submit" value="Submit" name="Submit"/></p>
        </form>

</body>
</html>